.card_categoria {
    margin: 50px 0;
    background-color: black;
    width: 260px;
    height: 360px;
    display: block;
    text-decoration: none;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px 10px 40px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 0 40px 2px #00000075;
}

.card_cacau {
    background: linear-gradient(180deg, rgba(59, 31, 0, 1) 0%, rgba(107, 57, 0, 1) 100%);
}

.card_cerimonias {
    background: linear-gradient(180deg, rgba(10, 37, 210, 1) 0%, rgba(5, 19, 108, 1) 100%);
}

.card_morangos {
    background: linear-gradient(180deg, rgba(164, 9, 9, 1) 0%, rgba(62, 3, 3, 1) 100%);
}

.card_natal {
    background: linear-gradient(180deg, rgba(18, 120, 40, 1) 0%, rgba(33, 222, 74, 1) 100%);
}

.card_coco {
    background: linear-gradient(180deg, rgba(141, 86, 9, 1) 0%, rgba(39, 24, 2, 1) 100%);
}

.card_destaques {
    background: linear-gradient(180deg, rgba(99, 9, 129, 1) 0%, rgba(21, 2, 27, 1) 100%);
}

.card_categoria svg:first-child {
    width: 26px;
    align-self: flex-end;
}

.svg_principal {
    width: 170px;

}